.container {
  position: relative;
  max-width: 500px;
  margin: 60px auto;
  padding: 2rem;
  border: 1px solid #F3F4F5;
  border-radius: 12px;
  background: #EEEFF1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  color: #4e342e;
  font-size: 24px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.button {
  background-color: #1B1B1D;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #64646A;
}

.toggle {
  margin-top: 1rem;
  font-size: 14px;
}

.link {
  color: #64646A;
  cursor: pointer;
  font-weight: bold;
}

